.marginBottom {
  margin-bottom: 15px;
}

.linkContainer {
  padding: 24px !important;
  width: 100%;
  display: grid;
  grid-template-columns: 40% 1fr 25%;
  grid-gap: 1rem;
}

.alignCenter {
  display: flex;
  align-items: center;
  flex: 100%;
}

.linksLink {
  text-decoration: none;
  color: #000;
}

.linksLink:hover {
  color: rgb(81, 81, 204);
}

.tag {
  margin-right: 1rem;
}

.linkVotes {
  background-color: #4CAF50 !important;
}